@import url(reset.css);
@import url(https://fonts.googleapis.com/css?family=Inter:500,600,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto:regular&display=swap);
@import url(https://fonts.googleapis.com/css?family=Oswald:regular,500&display=swap);
[class*=__container] {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
body {

}
.wrapper {
    overflow: clip;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
main {
    flex: 1 1 auto;
}
/* =========CHECKOUT================================================================== */
.checkout,
.form-checkout__list {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5; /* 24/16 */
    color: #637381;
}
.checkout__header {
    margin: 0 0 50px 0;
}
.checkout__title {
    font-weight: 700;
    font-size: 44px;
    line-height: 1.25; /* 55/44 */
    color: #212B36;
    margin: 0 0 8px 0;
}
.form-checkout__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.25; /* 30/24 */
    color: #212B36;
    margin: 0 0 30px 0;
}
.form-checkout__wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 700px;
    flex-wrap: wrap;
    column-gap: 28px;
    row-gap: 30px;
}

.form-checkout__inner {
    flex: 0 1 48%; /* 336/700 */
}
.form-checkout__input,
.form-checkout__list {
    padding: 15px 25px;
    border: 1px solid #E7E7E7;
    border-radius: 7px;
    width: 100%;
}
.form-checkout__input:focus {
    outline: 1px solid #3056D3;
}
.form-checkout__list:focus {
    outline: 1px solid #3056D3;
}
.form-checkout__area:focus {
    outline: 1px solid #3056D3;
}
.form-checkout__area {
    width: 100%;
    height: 180px;
    resize: vertical;
    border: 1px solid #E7E7E7;
    border-radius: 7px;
    padding: 25px 0 0 25px;
    margin: 0 0 35px 0;
}
.checkbox {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    row-gap: 25px;
    margin: 0 0 55px 0;
}
.checkbox__item {
    position: relative;
}
.checkbox__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
}
.checkbox__label {
    cursor: pointer;
    display: inline-flex;
    gap: 14px;

}
.checkbox__label::before {
    content:"";
    width: 22px;
    height: 22px;
    background-color: #fff;
    border: 1.5px solid #E7E7E7;
    border-radius: 4px;
}
.checkbox__input:focus-visible + .checkbox__label::before {
    background: url(../img/visible_icon.svg) center no-repeat;
    height: 22px;
    width:22px;
}
.checkbox__input:checked + .checkbox__label::before {
    background: url(../img/checked_icon.svg) center no-repeat;
    height: 22px;
    width:22px;
}
.coupon__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.3; /* 26/20 */
    color: #212B36;
    margin: 0 0 25px 0;
}
.coupon__input {
    margin: 0 20px 0 0;
    max-width: 325px;
    height: 48px;
    padding: 12px 0 12px 22px;
    display: inline-block;
    border: 1px solid #E7E7E7;
    border-radius: 7px;
    width: 100%;
}
.coupon__input:focus {
    outline: 1px solid #3056D3;
}
.coupon__btn {
    width: 135px;
    height: 48px;
    background: #212B36;
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;
}
/* =========SHIPPING================================================================== */

.shipping {
    padding: 100px 0 0 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25; /* 20/16 */
    color: #3F3F3F;
}
.address {
    max-width: 606px;
}
.address__title {
    font-family: 'Oswald',sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 2.83; /* 68/24 */
    margin: 0 0 34px 0;
}
.address__login {
    margin-bottom: 39px;
}
.address__items {
    display: flex;
    flex-direction: column;
    row-gap: 27px;
}
.address__item {
    display: flex;
    justify-content: space-between;
}
.address__input {
    padding: 0 0 0 16px;
    border: 1px solid #C4C4C4;
    max-width: 451px;
    width: 100%;
    height: 44px;
}
.address__text {
    padding: 15px 0 0 0;
    margin: 0 0 30px 0;
}
.address__actions::after {
    content: '';
    width: 100%;
    border-bottom: 1px solid #C4C4C4;
    padding: 36px 0 0 0;
    display: block;
}
.address__btn {
    width: 120px;
    height: 50px;
    background: #000;
    color: #FFFFFF;
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin: 0 25px 0 0;
}
.address__link-login {
    color: #0F6DB1;
}
.form-name {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    margin: 0 0 46px 0;
}
.form-name__item {
    display: flex;
    justify-content: space-between;
}
.form-name__item select {
    padding: 0 0 0 16px;
    width: 451px;
    height: 44px;
    border: 1px solid #C4C4C4;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Roboto';
    color: #3F3F3F;
}
.form-name__input {
    padding: 0 0 0 16px;
    border: 1px solid #C4C4C4;
    max-width: 451px;
    width: 100%;
    height: 44px;
}
.methods {
    padding: 0 0 80px 0;
}
.methods__title {
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 24px;
    line-height: 2.83; /* 68/24 */
    color: #000000;
    border-bottom: 1px solid #C4C4C4;
    padding: 0 0 40px 0;
    }
    .radio {
        max-width: 443px;
        margin: 0 0 24px 0;
    }
    .radio__item {
        display: flex;
        justify-content: space-between;
        padding: 18px 63px 18px 0;
    }
    .radio__item:not(:last-child) {
        border-bottom: 1px solid #C4C4C4;
    }
    .methods__links {
    display: flex;
    justify-content: space-between;
    }
    .methods__link {
    padding: 17px 50px;
    background: #000;
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5; /* 21/14 */
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.methods__link-white {
    padding: 17px 0;
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5; /* 21/14 */
    align-items: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #828282;
}
.radio__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
}
.radio__label {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
}
.radio__label::before {
    content: "";
    width: 10px;
    height: 10px;
    background: #FFFFFF;
    border: 1px solid #828282;
    border-radius: 50%;
}
.radio__input:checked + .radio__label::before {
    border: 3px solid #000000;
    border-radius: 50%;
}
/* .radio__input:focus-visible + .radio__label {
    background: #fff;
} */
