@import url(reset.css);
[class*=__container] {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}
body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6; /* 29/18 */
    color: #9C9C9C;
}
.wrapper {
    overflow: clip;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
main {
    flex: 1 1 auto;
}
/* =========PORTFOLIO================================================================== */

.header__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 518px;
    row-gap: 40px;
    margin: 0 auto;
    padding: 0 0 53px 0;
}
.header {
    color: #000000;
    text-align: center;
}
.header__title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.4;
}
.page__image-block {
    margin: 0 0 100px 0;
}
.page__image-block img {
    max-width: 100%;
}
.block-text {
    display: flex;
    margin: 0 -16px 82px -16px;
}
.block-text__overview {
    display: flex;
    flex-direction: column;
    flex: 0 1 50%;
    align-items: flex-start;
    padding: 0 16px;
}
.block-text__title-overview {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.4;
    color: #333333;
    margin: 0 0 24px 0;
}
.block-text__title-process {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.4;
    color: #333333;
    margin: 0 0 24px 0;
}
.block-text__content-overview {
    flex: 1 1 auto;
    margin: 0 0 30px 0;
}
.block-text__content-process:not(:last-child) {
    margin: 0 0 30px 0;
}
.block-text__footer {
    display: flex;
    column-gap: 80px;
    padding: 30px 0 0 0;
}
.block-text__process {
    display: flex;
    flex-direction: column;
    flex: 0 1 50%;
    align-items: flex-start;
    padding: 0 16px;
}
.portfolio {
    margin: 0 0 100px 0;
}
.portfolio__items {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}
.portfolio__item {
    flex: 1 1 48.666667%;
}
.portfolio__item:nth-child(3n + 3) {
    flex: 1 1 100%;
}
.portfolio__item img {
    max-width: 100%;
}
/* =========SERVICES================================================================== */

.services__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.4;
    color: #333333;
    margin: 0 0 52px 0;
}
.services__title::after {
    content: "";
    display: inline-block;
    width: 464px;
    height: 2px;
    background: #000000;
    margin: 0 0 0 26px;
    vertical-align: middle;
}

.item-services:not(:last-child) {
    margin: 0 0 40px 0;
}
.item-services {
    display: flex;
    column-gap: 120px;
}
.item-services__image {
    flex: 0 1 60.166667%;
}
.item-services__image img {
    max-width: 100%;
    min-height: 100%;
}
.item-services__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 20px;
    flex: 1 1 334px;
}
.item-services__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.4;
    color: #333333;
}


@media (max-width: 1270px) {
	[class*="__container"] {
		max-width: 1060px;
	}
    .portfolio__item {
        flex: 1 1 48%;
    }
    .header__item {
        row-gap: 25px;
        padding: 0 0 33px 0;
    }
    .header__title {
        font-size: 52px;
    }
    .services__title {
        font-weight: 600;
        font-size: 22px;
        line-height: 1.4;
        color: #333333;
        margin: 0 0 42px 0;
    }
    .services__title::after {
        width: 364px;
    }
}
@media (max-width: 1000px) {
    .item-services {
        column-gap: 60px;
    }
    .item-services__content {
        row-gap: 20px;
}
    .item-services__title {
        font-size: 22px;
    }
}
@media (max-width: 991.98px) {
	[class*="__container"] {
		max-width: 840px;
	}
    .header__title {
        font-size: 42px;
    }
    .header__item {
        row-gap: 15px;
        padding: 0 0 23px 0;
    }
    .page__image-block {
        margin: 0 0 50px 0;
    }
    .block-text {
        margin: 0 -16px 42px -16px;
    }
    .portfolio {
        margin: 0 0 50px 0;
    }
    .services__title {
        font-size: 18px;
        margin: 0 0 28px 0;
    }
    .services__title::after {
        width: 264px;
        margin: 0 0 0 26px;
    }
}
@media (max-width: 830px) {
    .portfolio__item {
        flex: 1 1 47%;
    }
}
@media (max-width: 767.98px) {
	[class*="__container"] {
		max-width: none;
		padding-left: 15px;
		padding-top: 15px;
	}
    .header__title {
        font-size: 38px;
    }
    .header__item {
        row-gap: 5px;
        padding: 0 0 8px 0;
    }
    .page__image-block {
        margin: 0 0 30px 0;
    }
    .block-text {
        flex-direction: column;
        row-gap: 20px;
    }
    .block-text__footer {
        padding: 0;
    }
    .portfolio__item {
        flex: 1 1 100%;
    }
    .portfolio__items {
        flex-direction: column;
    }
}